.fondo{
    opacity: 0.6;
    margin:0 0;
}

.start-game{
position: absolute;
bottom: 100px;
right: 350px;
width: 100px;
border-radius: 10px;
border-color:gray;
background-color: purple;



 
}
.start-game a{
    text-decoration: none;
    font-size: 24px;
    color: white;

}
.parrafo{
    
    background-color: gray;
    opacity: 0.8;
    position: absolute;
    top: 30px;
    right: 150px;
    width: 500px;
    height: 600px;
    text-align: center;
    font-size: 25px;
    border-style: groove;
    border: solid;
    border-color: black;
    border-radius: 10px;
   

}

.instru{
    font-size: 30px;
    font-weight:bold;
    color:white;

}
.todo{
    color: white;
    
}



